
  .full{
    background-color:#EDF1FC;
    padding-top: 60px;
    padding-bottom: 60px;

}
.more__text{
    color: green;
    background-color:white;
}

 
.inline_text{
  margin: 50px 50px 50px 50px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  
}

.first_gyik{
  display: flex;
  justify-content: center;

}
.button4{
  background-color: white;
  border:none;
  margin: 5px 5px;
  width: 75%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  outline: 0px;
  font-weight: bold;
  text-align: left;
}
.text1{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px auto;
  background-color: #D4E0F2;
  width:75%;

  }
  .opinion__image{

    padding: 20px  20px 20px 20px;
    background-color:white;
  }
  .opinion__text{
    
    padding: 20px 20px 20px 20px;
    background-color:white;
    text-align: left;
  }
  .more{
  	color: green;
  	text-align: center;
  	background-color:white;
  }

 
  	.sep-line{
  		background-color:white;
  		padding-top: 10px;
  		padding-bottom: 10px;

  	}
    .tags{
      display: flex;
    }
  
 .opinion {
   display: flex;
  
   background-color:white;
 }
 .opinion__text__name{
  font-weight: bold;
  font-size: 20px;
  background-color:white;
  text-align: left;
 }  
 
.button2{
  background-color:#FEFFFF;
border-radius: 12px;
border: none;

padding: 20px 60px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 0px 2px;
cursor: pointer;
}

.button3{
       background-color:#DEE2EB;
border-radius: 12px;
border: none;

padding: 20px 60px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-bottom: 5px;
cursor: pointer;

}