.lampa {
    text-align: center; 
    font-weight: bold;
    font-size: large;
    border-style: ridge;
    margin-bottom: 50px;
    position: relative;
    max-width: 400px;

}

.price{
    color:green;
}