#nagylampa{
    width: 600px;
     width:540px;
	max-width: 100%;
	max-height: auto;
}

.button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
     }
    
     #text {
        text-align: justify;
        margin-top: 100px;
        margin-bottom: 150px;
    }